.venv
./10th_grade/2nd_quarter/prog/bst_avl_trie/random_generated_strings.json
./10th_grade/2nd_quarter/prog/bst_avl_trie/dif_pref_generated_strings.json
./10th_grade/2nd_quarter/prog/bst_avl_trie/same_pref_generated_strings.json
